.cert-grid{
  display:grid;
  grid-template-columns:repeat(2, minmax(500px, 620px));
  justify-content:center;
  gap:24px;
  margin-top:50px;
}

.cert-card{
  padding:22px 32px;
  min-height:220px;

  border-radius:24px;
  background:rgba(255,255,255,.03);
  border:1px solid rgba(255,255,255,.08);

  display:flex;
  flex-direction:column;
  justify-content:center;

  transition:.3s ease;
}

.cert-card:hover{
  transform:translateY(-6px);
  border-color:rgba(255,255,255,.15);
}

.cert-icon{
  font-size:2rem;
  margin-bottom:18px;
}

.cert-card h4{
  margin-bottom:10px;
  line-height:1.4;
}

.cert-card p{
  color:rgba(255,255,255,.65);
  margin-bottom:20px;
}

.cert-btn{
  display:inline-flex;
  align-items:center;
  justify-content:center;

  width:fit-content;      /* important */
  min-width:180px;

  padding:12px 20px;

  border-radius:12px;
  text-decoration:none;
  color:white;

  background:rgba(255,255,255,.08);
  border:1px solid rgba(255,255,255,.1);

  transition:.25s ease;
}

.cert-btn:hover{
  background:rgba(255,255,255,.14);
}

.cert-btn:hover{
  background:rgba(255,255,255,.14);
}

.cert-center{
  grid-column:1 / -1;
  justify-self:center;
  width:620px;
  min-height:180px;
}

@media (max-width: 900px){
  .cert-grid{
    grid-template-columns:1fr;
  }

  .cert-center{
    grid-column:auto;
    width:100%;
    min-height:180px;
  }
}